<ion-header>
  <ion-navbar>
    <ion-title>
      About
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <h3>Post your Opinion!</h3>
    
  <div class="content">
    <form>
      <label for="fname">Opinion</label>
      <textarea rows="4" cols="50" id="fname" name="firstname" placeholder="Your opinion.."></textarea>

      <label for="lname">More Information</label>
      <textarea rows="4" cols="50" type="text" id="lname" name="lastname" placeholder="More information.."></textarea>
      <div class="aboutcontainer moreoptions">
        
        <input class="inp" id="chabt" type="checkbox">
        <label class="lbl" for="chabt"></label>
    
        <div class="moreoptions-content">
            <p>Kuvempu started his literary work in English, with a collection of poetry called Beginner's Muse but later switched to
      his native Kannada.</p>
      <ion-grid>
        <ion-row>
          <ion-col col-12>
          <a href="#">Upload Image</a>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid>
        <ion-row>
          <ion-col col-12>
          <select [(ngModel)]="selectedTypeValue"  [ngModelOptions]="{standalone: true}">
          <option value="default" selected="selected">YES/NO</option>
          <option value="radio">Can Choose One</option>
          <option value="checkbox">Can Choose Many</option>
        </select>
        </ion-col>
        </ion-row>
        <ion-row *ngIf="selectedTypeValue != 'default'">
          <ion-col col-6><input type="text" [(ngModel)]="optionText" [ngModelOptions]="{standalone: true}"></ion-col>
           <ion-col col-6><input class="submit" (click)='addItems(optionText)' type="submit" value="Add">
           </ion-col>
        </ion-row>
      </ion-grid>
        
        <p>Kuvempu started his literary work in English, with a collection of poetry called Beginner's Muse but later switched to
          his native Kannada.</p>
        <ion-grid>
        <ion-row>
          <ion-col col-12>
            <div class="chk-container"  *ngIf="selectedTypeValue == 'checkbox'">
              

              <label *ngFor = "let i of options" class="chkcontainer">{{i.value}}
                <input type="checkbox" checked="checked">
                <span class="checkmark"></span>
              </label>
              
             </div>
          </ion-col>
        </ion-row>
      </ion-grid>


      <ion-grid>
        <ion-row>
          <ion-col col-12>
              <div class="radio-container"   *ngIf="selectedTypeValue == 'radio'">
                
                <label class="container" *ngFor = "let i of options" >{{i.value}}
                  <input type="radio" checked="checked" name="radio">
                  <span class="checkmark"></span>
                </label>
          </div>
          </ion-col>
        </ion-row>
      </ion-grid>

          
        </div>
      </div>

      <input class="submit submitmargin" type="submit" value="Submit">
    </form>
  </div>

</ion-content>