page-details {
    color: black;


.container1 { border:0px dotted blue; width: 100%; height: 100%; position: relative; }

@media(max-width:767px){
    .container1 { border:0px dotted blue; width: 100%; height: 300px; position: relative; }
    ion-app.md [padding] .scroll-content {
        padding: 8px;
    }
}

@media(min-width:375px){
    .container1 { border:0px dotted blue; width: 100%; height: 300px; position: relative; }
    ion-app.md [padding] .scroll-content {
        padding: 8px;
    }
    .row{
        padding-left: 30px;
    }
}
@media (min-width: 425px)
    {
    .row {
        padding-left: 55px;
    }
}

@media (min-width: 768px)
    {
    .col-md-6 {
        padding-left: 50px;
    }
    .row{
        padding-left: 0px;
    }
}

}